<div class="radiobutton-label">
	<label for="accepted_report"><%= l(:timesheet_filtr_by_report)%></label>
	<br><%= radio_button_tag 'timesheet[accepted_report]', 'all', true%> <%= l(:timesheet_filtr_display_all)%>
	<br><%= radio_button_tag 'timesheet[accepted_report]', '1' %> <%= l(:timesheet_filtr_by_accepted_report)%>
	<br><%= radio_button_tag 'timesheet[accepted_report]', '0' %>  <%= l(:timesheet_filtr_by_not_accepted_report)%>
</div>

